openapi: 3.1.0
info:
  title: Pluralsight Flow Collaboration Metrics API
  description: REST API for accessing pull request and collaboration metrics for engineering teams with date range filtering.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://api.appfireflow.com
  description: Production
externalDocs:
  description: Collaboration Metrics API Documentation
  url: https://help.pluralsight.com/hc/en-us/articles/24286030333332-Collaboration-metrics-API
tags:
- name: Collaboration Metrics
  description: Pull request and collaboration metrics operations
paths:
  /collaboration/pullrequest/metrics:
    get:
      summary: Pluralsight Get Collaboration Metrics
      description: Retrieve pull request and collaboration metrics for engineering teams with date range filtering.
      operationId: getCollaborationMetrics
      tags:
      - Collaboration Metrics
      security:
      - bearerAuth: []
      parameters:
      - name: start_date
        in: query
        description: Start date for the metrics period
        schema:
          type: string
          format: date
        example: '2026-04-17T12:00:00Z'
      - name: end_date
        in: query
        description: End date for the metrics period
        schema:
          type: string
          format: date
        example: '2026-04-17T12:00:00Z'
      responses:
        '200':
          description: Successful response with collaboration metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Collaboration metrics data
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
