openapi: 3.1.0
info:
  title: Pluralsight Flow Coding Metrics API
  description: REST API for accessing code-level engineering metrics and developer productivity data with date range filtering.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
  - url: https://flow-api.pluralsight.com
    description: Production
externalDocs:
  description: Coding Metrics API Documentation
  url: https://help.pluralsight.com/hc/en-us/articles/31476876875028-Updated-Coding-metrics-API
tags:
  - name: Coding Metrics
    description: Code-level engineering metrics operations
paths:
  /collaboration/code/metrics:
    get:
      summary: Get Coding Metrics
      description: Retrieve code-level engineering metrics and developer productivity data with date range filtering.
      operationId: getCodingMetrics
      tags:
        - Coding Metrics
      security:
        - bearerAuth: []
      parameters:
        - name: start_date
          in: query
          description: Start date for the metrics period
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: End date for the metrics period
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response with coding metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Coding metrics data
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
