openapi: 3.2.0
info:
  title: Pluralsight Graph QL API
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
  description: 'Operations tagged GraphQL across 17 of this provider''s published API definitions: channels.yml, content-catalog.yml, content-progress.yml, content-slug.yml, course-catalog.yml, course-daily-usage.yml, course-progress.yml, labs.yml, learning-paths.yml, plan-info.yml, practice-exams.yml, programs.yml, role-iq.yml, skills-assessment.yml, tags.yml, teams.yml, user-management.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://paas-api.pluralsight.com
  description: Production
tags:
- name: GraphQL
  description: GraphQL query and mutation operations
paths:
  /graphql:
    post:
      summary: Pluralsight Query and Manage Channels
      description: Execute GraphQL queries and mutations for managing content channels including creating channels, managing members and groups, organizing content sections, and tracking channel progress.
      operationId: manageChannels
      tags:
      - GraphQL
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLRequest'
      responses:
        '200':
          description: Successful GraphQL response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://paas-api.pluralsight.com
      description: Production
components:
  schemas:
    GraphQLRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
          description: The GraphQL query string
          example: example_value
        variables:
          type: object
          description: Variables for the GraphQL query
        operationName:
          type: string
          description: Name of the operation to execute
          example: Example Course
    GraphQLError:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: example_value
        locations:
          type: array
          items:
            type: object
            properties:
              line:
                type: integer
              column:
                type: integer
        path:
          type: array
          items:
            type: string
    GraphQLResponse:
      type: object
      properties:
        data:
          type: object
          description: The query result data
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLError'
          description: Any errors that occurred during query execution
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
x-refined-from:
- channels.yml
- content-catalog.yml
- content-progress.yml
- content-slug.yml
- course-catalog.yml
- course-daily-usage.yml
- course-progress.yml
- labs.yml
- learning-paths.yml
- plan-info.yml
- practice-exams.yml
- programs.yml
- role-iq.yml
- skills-assessment.yml
- tags.yml
- teams.yml
- user-management.yml
