openapi: 3.1.0
info:
  title: Pluralsight Channels Catalog Users API
  description: GraphQL queries and mutations for managing content channels including creating channels, managing members and groups, organizing content sections, and tracking channel progress.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://paas-api.pluralsight.com
  description: Production
tags:
- name: Users
  description: Flow user management operations
paths:
  /users:
    get:
      summary: Pluralsight List Users
      description: Retrieve a list of Flow users in the workspace.
      operationId: listUsers
      tags:
      - Users
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response with user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                    description: User records
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      summary: Pluralsight Update Users
      description: Update, merge, hide, or perform bulk operations on Flow user accounts.
      operationId: updateUsers
      tags:
      - Users
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: User update payload
      responses:
        '200':
          description: Successful update response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
