openapi: 3.1.0
info:
  title: Pluralsight Channels Catalog Licensing API
  description: GraphQL queries and mutations for managing content channels including creating channels, managing members and groups, organizing content sections, and tracking channel progress.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://paas-api.pluralsight.com
  description: Production
tags:
- name: Licensing
  description: License management operations (deprecated)
paths:
  /invitations:
    get:
      summary: Pluralsight List Invitations
      description: Retrieve a list of pending user invitations. Deprecated - migrate to GraphQL User Management API.
      operationId: listInvitations
      deprecated: true
      tags:
      - Licensing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response with invitation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                    description: Invitation records
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      summary: Pluralsight Create Invitation
      description: Send a new user invitation. Deprecated - migrate to GraphQL User Management API.
      operationId: createInvitation
      deprecated: true
      tags:
      - Licensing
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Invitation details
      responses:
        '201':
          description: Invitation created successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /users:
    get:
      summary: Pluralsight List Users
      description: Retrieve a list of users in the plan. Deprecated - migrate to GraphQL User Management API.
      operationId: listUsers
      deprecated: true
      tags:
      - Licensing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response with user data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                    description: User records
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /teams:
    get:
      summary: Pluralsight List Teams
      description: Retrieve a list of teams in the plan. Deprecated - migrate to GraphQL Teams API.
      operationId: listTeams
      deprecated: true
      tags:
      - Licensing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response with team data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                    description: Team records
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
