openapi: 3.1.0
info:
  title: Pluralsight Channels Catalog Teams API
  description: GraphQL queries and mutations for managing content channels including creating channels, managing members and groups, organizing content sections, and tracking channel progress.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://paas-api.pluralsight.com
  description: Production
tags:
- name: Teams
  description: Flow team management operations
paths:
  /teams:
    get:
      summary: Pluralsight List Teams
      description: Retrieve a list of Flow engineering teams and team membership data.
      operationId: listTeams
      tags:
      - Teams
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response with team data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                    description: Team records
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
