openapi: 3.1.0
info:
  title: Pluralsight Channels Catalog Commits API
  description: GraphQL queries and mutations for managing content channels including creating channels, managing members and groups, organizing content sections, and tracking channel progress.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://paas-api.pluralsight.com
  description: Production
tags:
- name: Commits
  description: Commit data operations
paths:
  /commits:
    get:
      summary: Pluralsight Get Commits
      description: Retrieve commit data and aggregated commit metrics across repositories.
      operationId: getCommits
      tags:
      - Commits
      security:
      - bearerAuth: []
      parameters:
      - name: start_date
        in: query
        description: Start date for the query period
        schema:
          type: string
          format: date
        example: '2026-04-17T12:00:00Z'
      - name: end_date
        in: query
        description: End date for the query period
        schema:
          type: string
          format: date
        example: '2026-04-17T12:00:00Z'
      responses:
        '200':
          description: Successful response with commit data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                    description: Commit records
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
