openapi: 3.1.0
info:
  title: Pluralsight Channels Catalog API
  description: GraphQL queries and mutations for managing content channels including creating channels, managing members and groups, organizing content sections, and tracking channel progress.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://paas-api.pluralsight.com
  description: Production
tags:
- name: Catalog
  description: Public course catalog operations
paths:
  /courses:
    get:
      summary: Pluralsight Get Course Catalog
      description: Retrieve the full public course catalog without authentication. Returns course IDs, titles, durations, release dates, and retirement status.
      operationId: getCourseCatalog
      tags:
      - Catalog
      responses:
        '200':
          description: Successful response with course catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Course identifier
                        title:
                          type: string
                          description: Course title
                        duration:
                          type: string
                          description: Course duration
                        releaseDate:
                          type: string
                          format: date
                          description: Course release date
                        retiredDate:
                          type: string
                          format: date
                          description: Course retirement date if applicable
                    description: Course records
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
