openapi: 3.1.0
info:
  title: Pluralsight Channels Catalog Reports API
  description: GraphQL queries and mutations for managing content channels including creating channels, managing members and groups, organizing content sections, and tracking channel progress.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://paas-api.pluralsight.com
  description: Production
tags:
- name: Reports
  description: Report download operations (deprecated)
paths:
  /users:
    get:
      summary: Pluralsight Download User Report
      description: Download a user report as CSV. Deprecated - migrate to GraphQL User Management API.
      operationId: downloadUserReport
      deprecated: true
      tags:
      - Reports
      security:
      - bearerAuth: []
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /course-completion:
    get:
      summary: Pluralsight Download Course Completion Report
      description: Download a course completion report as CSV. Deprecated - migrate to GraphQL Course Progress API.
      operationId: downloadCourseCompletionReport
      deprecated: true
      tags:
      - Reports
      security:
      - bearerAuth: []
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /course-usage:
    get:
      summary: Pluralsight Download Course Usage Report
      description: Download a course usage report as CSV. Deprecated - migrate to GraphQL Course Daily Usage API.
      operationId: downloadCourseUsageReport
      deprecated: true
      tags:
      - Reports
      security:
      - bearerAuth: []
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
