openapi: 3.1.0
info:
  title: Pluralsight Public Course Catalog REST API
  description: Legacy public REST API for accessing the full course catalog without authentication. Returns course IDs, titles, durations, release dates, and retirement status.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
  - url: https://paas-rest-api.pluralsight.com
    description: Production
externalDocs:
  description: Skills APIs and Integrations
  url: https://help.pluralsight.com/hc/en-us/articles/24420554286868-Skills-APIs-and-integrations
tags:
  - name: Catalog
    description: Public course catalog operations
paths:
  /courses:
    get:
      summary: Get Course Catalog
      description: Retrieve the full public course catalog without authentication. Returns course IDs, titles, durations, release dates, and retirement status.
      operationId: getCourseCatalog
      tags:
        - Catalog
      responses:
        '200':
          description: Successful response with course catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Course identifier
                        title:
                          type: string
                          description: Course title
                        duration:
                          type: string
                          description: Course duration
                        releaseDate:
                          type: string
                          format: date
                          description: Course release date
                        retiredDate:
                          type: string
                          format: date
                          description: Course retirement date if applicable
                    description: Course records
        '429':
          description: Too Many Requests - Rate limit exceeded
