openapi: 3.1.0
info:
  title: Pluralsight Reports REST API
  description: Legacy REST API for downloading user, course completion, and course usage reports as CSV files. Deprecated as of February 2025, removal scheduled for November 2025.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
  - url: https://app.pluralsight.com/plans/api/reports/v1
    description: Production
externalDocs:
  description: Migration Guide - REST to GraphQL
  url: https://help.pluralsight.com/hc/en-us/articles/24420566008084-Migrating-from-REST-to-GraphQL-APIs
tags:
  - name: Reports
    description: Report download operations (deprecated)
paths:
  /users:
    get:
      summary: Download User Report
      description: Download a user report as CSV. Deprecated - migrate to GraphQL User Management API.
      operationId: downloadUserReport
      deprecated: true
      tags:
        - Reports
      security:
        - bearerAuth: []
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
  /course-completion:
    get:
      summary: Download Course Completion Report
      description: Download a course completion report as CSV. Deprecated - migrate to GraphQL Course Progress API.
      operationId: downloadCourseCompletionReport
      deprecated: true
      tags:
        - Reports
      security:
        - bearerAuth: []
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
  /course-usage:
    get:
      summary: Download Course Usage Report
      description: Download a course usage report as CSV. Deprecated - migrate to GraphQL Course Daily Usage API.
      operationId: downloadCourseUsageReport
      deprecated: true
      tags:
        - Reports
      security:
        - bearerAuth: []
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
