openapi: 3.1.0
info:
  title: Pluralsight User Management API
  description: GraphQL queries and mutations for managing users including listing users, inviting members, editing user details, removing users, and canceling invitations.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
  - url: https://paas-api.pluralsight.com
    description: Production
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
tags:
  - name: GraphQL
    description: GraphQL query and mutation operations
paths:
  /graphql:
    post:
      summary: Query and Manage Users
      description: Execute GraphQL queries and mutations for managing users including listing users, inviting members, editing user details, removing users, and canceling invitations.
      operationId: manageUsers
      tags:
        - GraphQL
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLRequest'
      responses:
        '200':
          description: Successful GraphQL response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GraphQLRequest:
      type: object
      required:
        - query
      properties:
        query:
          type: string
          description: The GraphQL query string
        variables:
          type: object
          description: Variables for the GraphQL query
        operationName:
          type: string
          description: Name of the operation to execute
    GraphQLResponse:
      type: object
      properties:
        data:
          type: object
          description: The query result data
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLError'
          description: Any errors that occurred during query execution
    GraphQLError:
      type: object
      properties:
        message:
          type: string
          description: Error message
        locations:
          type: array
          items:
            type: object
            properties:
              line:
                type: integer
              column:
                type: integer
        path:
          type: array
          items:
            type: string
