openapi: 3.1.0
info:
  title: Pluralsight Content Slug API
  description: GraphQL query for resolving content slugs to internal identifiers, enabling lookup of content by human-readable URL slugs.
  version: 1.0.0
  contact:
    name: Pluralsight API Support
    email: support@pluralsight.com
    url: https://help.pluralsight.com
  license:
    name: Proprietary
    url: https://www.pluralsight.com/terms
servers:
- url: https://paas-api.pluralsight.com
  description: Production
externalDocs:
  description: Pluralsight Developer Documentation
  url: https://developer.pluralsight.com
tags:
- name: GraphQL
  description: GraphQL query operations
paths:
  /graphql:
    post:
      summary: Pluralsight Query Content Slugs
      description: Execute GraphQL queries to resolve content slugs to internal identifiers, enabling lookup of content by human-readable URL slugs.
      operationId: queryContentSlugs
      tags:
      - GraphQL
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLRequest'
      responses:
        '200':
          description: Successful GraphQL response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLResponse'
        '401':
          description: Unauthorized - Invalid or missing authentication token
        '429':
          description: Too Many Requests - Rate limit exceeded
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    GraphQLRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
          description: The GraphQL query string
          example: example_value
        variables:
          type: object
          description: Variables for the GraphQL query
        operationName:
          type: string
          description: Name of the operation to execute
          example: Example Course
    GraphQLResponse:
      type: object
      properties:
        data:
          type: object
          description: The query result data
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLError'
          description: Any errors that occurred during query execution
    GraphQLError:
      type: object
      properties:
        message:
          type: string
          description: Error message
          example: example_value
        locations:
          type: array
          items:
            type: object
            properties:
              line:
                type: integer
              column:
                type: integer
        path:
          type: array
          items:
            type: string
